CompileFlags:
    Add:
        [
            -Wno-unknown-attributes,
            -Wno-maybe-uninitialized,
            -Wno-unknown-warning-option,
            -I../qmk_firmware_hk,
            -I../qmk_firmware_hk/quantum,
            -I../qmk_firmware_hk/quantum/keymap_extras,
            -I../qmk_firmware_hk/quantum/sequencer,
        ]
    Remove:
        [
            -W*,
            -mmcu=*,
            -mcpu=*,
            -mfpu=*,
            -mfloat-abi=*,
            -mno-unaligned-access,
            -mno-thumb-interwork,
            -mcall-prologues,
            -D__has_include*,
        ]
    Compiler: clang
